[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "shifty"]
	path = shifty
	url = git@github.com:bioe007/awesome-shifty.git
[submodule "revelation"]
	path = revelation
	url = git@github.com:bioe007/awesome-revelation.git
[submodule "toolbox"]
	path = toolbox
	url = git@github.com:bioe007/awesome-toolbox.git
